@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 16px,
  ratio: $major-third
);

/* Colors */
$white: #fff;
$black: #000;
$bg-pink: #f5dcf5;
$nav-gradient: linear-gradient(to right, rgba(222, 255, 217, 1) 0%, rgba(201, 255, 255, 1) 45.09%, rgba(218, 227, 177, 0.35) 92%, rgba(255, 255, 255, 0) 100%);
